*{
    font-family: Helvetica, Arial, sans-serif;
}
body{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto 250px auto auto;
  }

@media screen and (max-width: 600px) {
    body{
      grid-template-rows: auto auto auto auto auto;
      grid-template-columns: auto;
    }
}